

.blue{
  color: blue;
}

.red{
  color: red;
}

.card{
  width: 200px;
  height: 200px;
  background-color: burlywood;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  display: flex;

}

.wrapper{
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.avatar{
  width: 50%;
  height: 100%;
}

.text{
  width: 50%;
  height: 100%;
  background-color: aqua;
}