.yourMessages{
   background-color: #12A3CC;
   margin-top: 10px;
   align-self: flex-end;
   padding: 10px;
   border-radius: 20px;
   border-bottom-left-radius: unset;
   font-family: Vazirmatn UI;
   max-width: 50%;
}

.myMessages{
background-color: #DB0142;
align-self: flex-start;
padding: 10px;
margin-top: 10px;
border-radius: 20px;
border-bottom-right-radius:unset;
font-family: Vazirmatn UI;
max-width: 50%;
}